In [51]:
##Importing  Libraries

import pandas as pd
import numpy as np
import sklearn as sklearn
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import confusion_matrix
import xgboost as xgb
from xgboost import XGBClassifier

In [52]:
df = pd.read_csv(r"C:\\Users\\hp\\Desktop\\HPA\\Anupam Bharteya\\data2.csv", nrows=25000)

df.shape

(25000, 46)

In [53]:
df_sample = df.sample(n=20, replace=False)

In [54]:
df = df.drop_duplicates()

In [55]:
df = df.dropna()

In [56]:
df = df.replace(to_replace = '?', value = "UNKNOWN")

In [57]:
df.shape

(25000, 46)

In [58]:
# Notice, there are quite a few missing ("UNKNOWNS") in the data  

# Let us explore .... 

# How many "UNKNOWN" entries are there in my data   

max_rows=df.shape[0]    # storing the 'max row number in data' as a value in object named 'max_rows' 
unknowns = []           # define a blank array in which we will store the num for each column 
colnames = df.columns      
var_counter=1 
for col in colnames:
    row_num=0 
    unknowns_count=0
    for row_num in range(0, max_rows):
        if (df[col].loc[row_num]=='UNKNOWN'):
            unknowns_count=unknowns_count+1
    #end loop2
    print('\n---------------- \n  ',var_counter, ' : ', col,'  has  ', unknowns_count, 'unknown values \n')
    unknowns = np.append(unknowns,unknowns_count)  # fill this value into the array  
    var_counter = var_counter + 1   
#end loop1

----------------
   1  :  encounter_id   has   0 unknown values


----------------
   2  :  patient_nbr   has   0 unknown values


----------------
   3  :  race   has   564 unknown values


----------------
   4  :  gender   has   0 unknown values


----------------
   5  :  age   has   0 unknown values


----------------
   6  :  weight   has   24227 unknown values


----------------
   7  :  admission_type_id   has   0 unknown values


----------------
   8  :  discharge_disposition_id   has   0 unknown values


----------------
   9  :  admission_source_id   has   0 unknown values


----------------
   10  :  time_in_hospital   has   0 unknown values


----------------
   11  :  payer_code   has   9954 unknown values


----------------
   12  :  num_lab_procedures   has   0 unknown values


----------------
   13  :  num_procedures   has   0 unknown values


----------------
   14  :  num_medications   has   0 unknown values


----------------
   15  :  number_outpatient   has   0 unknown values


----------------
   16  :  number_emergency   has   0 unknown values


----------------
   17  :  number_inpatient   has   0 unknown values


----------------
   18  :  number_diagnoses   has   0 unknown values


----------------
   19  :  max_glu_serum   has   0 unknown values


----------------
   20  :  A1Cresult   has   0 unknown values


----------------
   21  :  metformin   has   0 unknown values


----------------
   22  :  repaglinide   has   0 unknown values


----------------
   23  :  nateglinide   has   0 unknown values


----------------
   24  :  chlorpropamide   has   0 unknown values


----------------
   25  :  glimepiride   has   0 unknown values


----------------
   26  :  acetohexamide   has   0 unknown values


----------------
   27  :  glipizide   has   0 unknown values


----------------
   28  :  glyburide   has   0 unknown values


----------------
   29  :  tolbutamide   has   0 unknown values


----------------
   30  :  pioglitazone   has   0 unknown values


----------------
   31  :  rosiglitazone   has   0 unknown values


----------------
   32  :  acarbose   has   0 unknown values


----------------
   33  :  miglitol   has   0 unknown values


----------------
   34  :  troglitazone   has   0 unknown values


----------------
   35  :  tolazamide   has   0 unknown values


----------------
   36  :  examide   has   0 unknown values


----------------
   37  :  citoglipton   has   0 unknown values


----------------
   38  :  insulin   has   0 unknown values


----------------
   39  :  glyburide.metformin   has   0 unknown values


----------------
   40  :  glipizide.metformin   has   0 unknown values


----------------
   41  :  glimepiride.pioglitazone   has   0 unknown values


----------------
   42  :  metformin.rosiglitazone   has   0 unknown values


----------------
   43  :  metformin.pioglitazone   has   0 unknown values


----------------
   44  :  change   has   0 unknown values


----------------
   45  :  diabetesMed   has   0 unknown values


----------------
   46  :  readmitted   has   1001 unknown values

In [59]:
# 'unknowns' is an array 
# colnames is a list 
# Both can be combined into a dataframe for better information visibility

In [60]:
df_unknowns = pd.DataFrame({"variable":colnames,"missing values":unknowns})

In [61]:
var_uniq_count = []       # define a blank array in which we will store the num for each column 
colnames = df.columns     # put all column names of the dataframe into a list 
counter=1
for col in colnames:
    x = len(df[col].unique())   # how many unique values does this variable take in the data 
    # print('\n','Data Column:',counter, '   ', col, ' - has ',x,'  unique values', '\n\n')
    var_uniq_count = np.append(var_uniq_count,x)  # fill this value into the array  
    counter=counter+1
    #for loop ends 
    
df_unique_values = pd.DataFrame({"variable" : colnames, "u_values": var_uniq_count})
df_unique_values

                    variable  u_values
0               encounter_id   25000.0
1                patient_nbr   22087.0
2                       race       6.0
3                     gender       3.0
4                        age      10.0
5                     weight       8.0
6          admission_type_id       8.0
7   discharge_disposition_id      25.0
8        admission_source_id      14.0
9           time_in_hospital      14.0
10                payer_code      17.0
11        num_lab_procedures     111.0
12            num_procedures       7.0
13           num_medications      72.0
14         number_outpatient      25.0
15          number_emergency      22.0
16          number_inpatient      17.0
17          number_diagnoses      14.0
18             max_glu_serum       4.0
19                 A1Cresult       4.0
20                 metformin       4.0
21               repaglinide       4.0
22               nateglinide       4.0
23            chlorpropamide       3.0
24               glimepiride       4.0
25             acetohexamide       1.0
26                 glipizide       4.0
27                 glyburide       4.0
28               tolbutamide       2.0
29              pioglitazone       4.0
30             rosiglitazone       4.0
31                  acarbose       3.0
32                  miglitol       3.0
33              troglitazone       1.0
34                tolazamide       3.0
35                   examide       1.0
36               citoglipton       1.0
37                   insulin       4.0
38       glyburide.metformin       4.0
39       glipizide.metformin       2.0
40  glimepiride.pioglitazone       1.0
41   metformin.rosiglitazone       2.0
42    metformin.pioglitazone       1.0
43                    change       2.0
44               diabetesMed       2.0
45                readmitted       6.0

In [62]:
def frequency_table (x,df):
    freq = df[x].value_counts()
    return freq

In [63]:
for col in colnames[2:]:
    print ("\n\n----------------") 
    print (col)
    print(frequency_table(col,df))

----------------
race
Caucasian          18565
AfricanAmerican     4863
UNKNOWN              564
Hispanic             486
Other                356
Asian                166
Name: race, dtype: int64


----------------
gender
Female             13488
Male               11511
Unknown/Invalid        1
Name: gender, dtype: int64


----------------
age
[70-80)     6442
[60-70)     5536
[80-90)     4237
[50-60)     4208
[40-50)     2336
[30-40)      926
[90-100)     720
[20-30)      406
[10-20)      163
[0-10)        26
Name: age, dtype: int64


----------------
weight
UNKNOWN      24227
[75-100)       312
[50-75)        231
[100-125)      162
[125-150)       29
[25-50)         27
[0-25)           9
[150-175)        3
Name: weight, dtype: int64


----------------
admission_type_id
1    13174
2     4620
3     4562
6     1319
5     1241
8       74
7        7
4        3
Name: admission_type_id, dtype: int64


----------------
discharge_disposition_id
1     14753
3      3446
6      3151
18      898
2       537
22      491
11      416
5       297
25      258
4       195
7       147
13      102
14      101
23       98
28       34
8        29
24       17
15       14
9         6
16        3
10        2
27        2
20        1
19        1
12        1
Name: discharge_disposition_id, dtype: int64


----------------
admission_source_id
7     14070
1      7226
17     1679
4       844
6       574
2       280
5       204
3        52
20       44
9        22
8         2
14        1
10        1
22        1
Name: admission_source_id, dtype: int64


----------------
time_in_hospital
3     4377
2     4134
1     3458
4     3450
5     2454
6     1876
7     1457
8     1086
9      749
10     558
11     452
12     370
13     327
14     252
Name: time_in_hospital, dtype: int64


----------------
payer_code
UNKNOWN    9954
MC         8016
HM         1595
SP         1169
BC         1056
MD          876
UN          627
CP          586
CM          470
OG          248
DM          143
PO          136
WC           34
CH           30
OT           25
SI           19
MP           16
Name: payer_code, dtype: int64


----------------
num_lab_procedures
1      749
43     708
44     632
45     585
46     566
      ...
129      1
103      1
102      1
114      1
111      1
Name: num_lab_procedures, Length: 111, dtype: int64


----------------
num_procedures
0    11401
1     5151
2     3145
3     2308
6     1177
4     1061
5      757
Name: num_procedures, dtype: int64


----------------
num_medications
13    1565
12    1468
14    1429
11    1412
15    1406
      ...
69       1
72       1
70       1
67       1
74       1
Name: num_medications, Length: 72, dtype: int64


----------------
number_outpatient
0     20831
1      2113
2       891
3       520
4       273
5       137
6        81
7        37
8        35
9        19
12       12
13       10
14        9
10        9
11        8
16        4
36        2
22        2
29        1
17        1
26        1
18        1
27        1
42        1
15        1
Name: number_outpatient, dtype: int64


----------------
number_emergency
0     22186
1      1933
2       483
3       185
4        83
5        49
6        17
7        15
8        10
9         9
10        8
13        7
11        4
12        3
22        1
37        1
21        1
19        1
28        1
76        1
16        1
15        1
Name: number_emergency, dtype: int64


----------------
number_inpatient
0     16525
1      4855
2      1883
3       851
4       398
5       193
6       126
7        54
8        33
9        27
11       16
10       14
12       12
15        5
13        3
16        3
14        2
Name: number_inpatient, dtype: int64


----------------
number_diagnoses
9     12029
5      2862
7      2619
8      2599
6      2536
4      1351
3       694
2       252
1        41
16        9
10        3
13        2
11        2
12        1
Name: number_diagnoses, dtype: int64


----------------
max_glu_serum
None    23683
Norm      645
>200      382
>300      290
Name: max_glu_serum, dtype: int64


----------------
A1Cresult
None    20895
>8       1927
Norm     1236
>7        942
Name: A1Cresult, dtype: int64


----------------
metformin
No        20117
Steady     4507
Up          246
Down        130
Name: metformin, dtype: int64


----------------
repaglinide
No        24598
Steady      354
Up           33
Down         15
Name: repaglinide, dtype: int64


----------------
nateglinide
No        24817
Steady      171
Up            6
Down          6
Name: nateglinide, dtype: int64


----------------
chlorpropamide
No        24979
Steady       18
Up            3
Name: chlorpropamide, dtype: int64


----------------
glimepiride
No        23731
Steady     1132
Up           87
Down         50
Name: glimepiride, dtype: int64


----------------
acetohexamide
No    25000
Name: acetohexamide, dtype: int64


----------------
glipizide
No        21920
Steady     2748
Up          193
Down        139
Name: glipizide, dtype: int64


----------------
glyburide
No        22336
Steady     2286
Up          222
Down        156
Name: glyburide, dtype: int64


----------------
tolbutamide
No        24995
Steady        5
Name: tolbutamide, dtype: int64


----------------
pioglitazone
No        23218
Steady     1704
Up           46
Down         32
Name: pioglitazone, dtype: int64


----------------
rosiglitazone
No        23383
Steady     1546
Up           47
Down         24
Name: rosiglitazone, dtype: int64


----------------
acarbose
No        24917
Steady       80
Down          3
Name: acarbose, dtype: int64


----------------
miglitol
No        24988
Steady       11
Down          1
Name: miglitol, dtype: int64


----------------
troglitazone
No    25000
Name: troglitazone, dtype: int64


----------------
tolazamide
No        24989
Steady       10
Up            1
Name: tolazamide, dtype: int64


----------------
examide
No    25000
Name: examide, dtype: int64


----------------
citoglipton
No    25000
Name: citoglipton, dtype: int64


----------------
insulin
No        11642
Steady     7721
Down       2885
Up         2752
Name: insulin, dtype: int64


----------------
glyburide.metformin
No        24799
Steady      198
Down          2
Up            1
Name: glyburide.metformin, dtype: int64


----------------
glipizide.metformin
No        24996
Steady        4
Name: glipizide.metformin, dtype: int64


----------------
glimepiride.pioglitazone
No    25000
Name: glimepiride.pioglitazone, dtype: int64


----------------
metformin.rosiglitazone
No        24999
Steady        1
Name: metformin.rosiglitazone, dtype: int64


----------------
metformin.pioglitazone
No    25000
Name: metformin.pioglitazone, dtype: int64


----------------
change
No    13492
Ch    11508
Name: change, dtype: int64


----------------
diabetesMed
Yes    19240
No      5760
Name: diabetesMed, dtype: int64


----------------
readmitted
NO         10465
>30         8701
>60         2001
<30         1798
<15         1034
UNKNOWN     1001
Name: readmitted, dtype: int64

In [64]:
print("original number of columns in data :  ", len(colnames),'\n')

# Create a filter so that we can identify which columns have only one value entered in them (across all rows)  
filt = (var_uniq_count < 2.0)

# Use this filter to select column names where there is just 1 unique value 
columns_with_one_uniq_value = colnames[filt]
print("number of columns with 1 unique value  :  ",  len(columns_with_one_uniq_value),'\n')

print("these columns are  : " , columns_with_one_uniq_value)
print('\n'*2)

print("In the next step, we will drop these from our data",'\n'*2)

original number of columns in data :   46

number of columns with 1 unique value  :   6

these columns are  :  Index(['acetohexamide', 'troglitazone', 'examide', 'citoglipton',
       'glimepiride.pioglitazone', 'metformin.pioglitazone'],
      dtype='object')



In the next step, we will drop these from our data

In [65]:
print ("creating a new data frame df2 \n" 
"which does not contain \n the columns having 1 unique value \n")

df2 = df.drop(columns = columns_with_one_uniq_value)

# Or we can drop the columns in our original dataframe permanently, like this: 
# df.drop(columns = columns_with_one_uniq_value, inplace=True)

print("new data frame (rows/columns)  :", df2.shape,'\n'*2)

creating a new data frame df2
which does not contain
 the columns having 1 unique value

new data frame (rows/columns)  : (25000, 40)

In [66]:
var_uniq_count = []       # define a blank array in which we will store the num for each column 
colnames = df2.columns    # reading names of all columns into array names colnames 
counter=1
for col in colnames:
    x = len(df2[col].unique())   # how many unique values does this variable take in the data 
    print('\n','Data Column:',counter, '   ', col, ' - has ',x,'  unique values', '\n\n')
    var_uniq_count = np.append(var_uniq_count,x)  # fill this value into the array  
    counter=counter+1
    #for loop ends

 Data Column: 1     encounter_id  - has  25000   unique values



 Data Column: 2     patient_nbr  - has  22087   unique values



 Data Column: 3     race  - has  6   unique values



 Data Column: 4     gender  - has  3   unique values



 Data Column: 5     age  - has  10   unique values



 Data Column: 6     weight  - has  8   unique values



 Data Column: 7     admission_type_id  - has  8   unique values



 Data Column: 8     discharge_disposition_id  - has  25   unique values



 Data Column: 9     admission_source_id  - has  14   unique values



 Data Column: 10     time_in_hospital  - has  14   unique values



 Data Column: 11     payer_code  - has  17   unique values



 Data Column: 12     num_lab_procedures  - has  111   unique values



 Data Column: 13     num_procedures  - has  7   unique values



 Data Column: 14     num_medications  - has  72   unique values



 Data Column: 15     number_outpatient  - has  25   unique values



 Data Column: 16     number_emergency  - has  22   unique values



 Data Column: 17     number_inpatient  - has  17   unique values



 Data Column: 18     number_diagnoses  - has  14   unique values



 Data Column: 19     max_glu_serum  - has  4   unique values



 Data Column: 20     A1Cresult  - has  4   unique values



 Data Column: 21     metformin  - has  4   unique values



 Data Column: 22     repaglinide  - has  4   unique values



 Data Column: 23     nateglinide  - has  4   unique values



 Data Column: 24     chlorpropamide  - has  3   unique values



 Data Column: 25     glimepiride  - has  4   unique values



 Data Column: 26     glipizide  - has  4   unique values



 Data Column: 27     glyburide  - has  4   unique values



 Data Column: 28     tolbutamide  - has  2   unique values



 Data Column: 29     pioglitazone  - has  4   unique values



 Data Column: 30     rosiglitazone  - has  4   unique values



 Data Column: 31     acarbose  - has  3   unique values



 Data Column: 32     miglitol  - has  3   unique values



 Data Column: 33     tolazamide  - has  3   unique values



 Data Column: 34     insulin  - has  4   unique values



 Data Column: 35     glyburide.metformin  - has  4   unique values



 Data Column: 36     glipizide.metformin  - has  2   unique values



 Data Column: 37     metformin.rosiglitazone  - has  2   unique values



 Data Column: 38     change  - has  2   unique values



 Data Column: 39     diabetesMed  - has  2   unique values



 Data Column: 40     readmitted  - has  6   unique values

In [67]:


df3 = df2.drop(columns = ['weight', 'payer_code','tolbutamide', 'glipizide.metformin', 'metformin.rosiglitazone', 'miglitol', 'tolazamide'])

In [68]:
df3.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'glipizide', 'glyburide', 'pioglitazone',
       'rosiglitazone', 'acarbose', 'insulin', 'glyburide.metformin', 'change',
       'diabetesMed', 'readmitted'],
      dtype='object')

In [69]:
# Separate them out into two separate lists  -  NUMERIC and NOMINAL 

numeric_columns = ['time_in_hospital','num_lab_procedures', 'num_procedures', 'num_medications','number_outpatient', 'number_emergency', 'number_inpatient', 'number_diagnoses']
nominal_columns = ['race', 'gender', 'age', 'admission_type_id','discharge_disposition_id',  'admission_source_id', 'max_glu_serum', 'A1Cresult','metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'glipizide', 'glyburide', 'pioglitazone',  'rosiglitazone', 'acarbose', 'insulin', 'glyburide.metformin', 'change', 'diabetesMed']

# Also make a single list consisting of all x_variables 

x_variables = numeric_columns + nominal_columns

# Check 
len(x_variables)

30

In [70]:
# First we define a function so that we can iterate for all rows in the column 

def labelencoding (df,feature):
    le = preprocessing.LabelEncoder()      
    # just giving a name to the function  
    #This fn is the one that actually converts selected data to a unique numeric value 
    x = df[feature]
    le_obj = le.fit(x)
    feature = le_obj.transform(x)
    feature_val = np.reshape(feature,[len(feature),1])
    return feature_val

In [71]:
# Read all nominal value columns in an array & all numeric into another 
array_nominal = pd.DataFrame(df3,columns = nominal_columns).values
array_numeric = pd.DataFrame(df3,columns = numeric_columns).values

In [72]:
# Check
array_numeric.shape
array_nominal.shape 
array_nominal
array_numeric

array([[ 7, 62,  0, ...,  0,  0,  7],
       [ 4, 45,  4, ...,  0,  0,  8],
       [ 2, 32,  3, ...,  0,  0,  9],
       ...,
       [ 3, 30,  1, ...,  0,  1,  9],
       [ 3, 54,  1, ...,  0,  0,  6],
       [ 3, 13,  3, ...,  0,  1,  9]], dtype=int64)

In [73]:

# Now, replace all the values in the nominal value columns with unique numbers 
# and append each of those columns into array_numeric 
# so that we have one single collection of refined X-Variables to use in our model build

for col in nominal_columns:
    x = labelencoding(df3,col)
    array_numeric =  np.hstack((array_numeric,x))    
# Loop ends    
    
# now check the array 
array_numeric.shape
# and check a sample extract 
array_numeric[30:40,0:15]

array([[ 3, 36,  0, 15,  0,  0,  0,  6,  2,  0,  8,  0,  0,  6,  2],
       [ 6, 69,  0, 17,  0,  0,  3,  8,  2,  1,  6,  0,  2,  6,  2],
       [10, 67,  1, 24,  0,  0,  0,  8,  2,  0,  7,  0,  5,  6,  2],
       [ 4, 57,  0, 13,  0,  0,  1,  9,  2,  0,  9,  0,  0,  6,  2],
       [ 5, 43,  2, 16,  0,  0,  0,  4,  2,  1,  6,  2,  0,  1,  2],
       [ 1, 49,  0,  4,  0,  0,  2,  8,  2,  0,  7,  0,  0,  6,  2],
       [ 9, 68,  6, 29,  0,  0,  0,  8,  4,  1,  4,  0,  0,  0,  2],
       [ 5, 45,  1, 13,  1,  0,  5,  5,  0,  0,  6,  0,  2,  6,  2],
       [ 7, 57,  1, 10,  0,  0,  0,  9,  0,  1,  8,  0,  0,  6,  2],
       [ 5, 42,  2, 16,  0,  0,  0,  7,  2,  0,  5,  0,  0,  6,  2]],
      dtype=int64)

In [74]:
array_numeric.shape

(25000, 30)

In [75]:
df3['readmitted'].unique()

array(['<30', '<15', '>30', 'NO', '>60', 'UNKNOWN'], dtype=object)

In [76]:
# Patients who returned to hospital within 30 days, shall be counted as being RE-ADMITTED  
# Those with NO and >30 day tags , shall be counted as NOT RE-ADMITTED 

df3['readmitted'].replace(to_replace='<30',value=1,inplace=True)
df3['readmitted'].replace(to_replace='<15',value=1,inplace=True)
df3['readmitted'].replace(to_replace='NO',value=0,inplace=True)
df3['readmitted'].replace(to_replace='>30',value=0,inplace=True)
df3['readmitted'].replace(to_replace='>60',value=0,inplace=True)
df3['readmitted'].replace(to_replace='UNKNOWN',value=0,inplace=True)

In [77]:
df3['readmitted'].value_counts()

0    22168
1     2832
Name: readmitted, dtype: int64

In [78]:
df3.shape

(25000, 33)

In [79]:
y_train_test = pd.DataFrame(df3, columns = ['readmitted']).values
type(y_train_test)

numpy.ndarray

In [80]:
x_train_test = array_numeric
x_train_test[0:1,0:30]

array([[ 7, 62,  0, 11,  0,  0,  0,  7,  0,  1,  6,  1,  0,  3,  2,  2,
         1,  1,  1,  0,  1,  1,  3,  1,  1,  1,  2,  1,  0,  1]],
      dtype=int64)

In [81]:
obj_strata = StratifiedShuffleSplit(n_splits=1, test_size=0.2, train_size=0.8, random_state=2323)
obj_strata.get_n_splits(x_train_test, y_train_test)

for train_index, test_index in obj_strata.split (x_train_test, y_train_test):
    print("TRAIN: ", train_index, "TEST: ", test_index)
    x_train, x_test = x_train_test[train_index], x_train_test[test_index]
    y_train, y_test = y_train_test[train_index], y_train_test[test_index]

TRAIN:  [ 5433   996  1218 ... 10458 12795 10573] TEST:  [16723 16569 20736 ... 11038 19790 10383]

In [82]:
print(sum(y_train))
print(sum(y_test))

[2266]
[566]

In [83]:
np.unique(y_train)
np.unique(y_test)

array([0, 1], dtype=int64)

In [84]:
x_train.shape
x_test.shape
y_train.shape
y_test.shape

(5000, 1)

In [85]:
def model_performance(model):
    RF_training_labels = model.predict(x_train)
    RF_test_labels = model.predict(x_test)
    Training_accuracy = model.score(x_train, y_train, sample_weight=None)
    Test_accuracy = model.score(x_test, y_test, sample_weight=None)
    F1_score_train = f1_score(y_train, RF_training_labels, average = 'weighted')
    F1_score_test = f1_score(y_test, RF_test_labels, average = 'weighted')
    Recall_train = recall_score(y_train, RF_training_labels, average = 'weighted') 
    Recall_test  = recall_score(y_test, RF_test_labels, average = 'weighted') 
    Precision_train = precision_score(y_train, RF_training_labels, average = 'weighted')
    Precision_test = precision_score(y_test, RF_test_labels, average = 'weighted')
    rf_cm_tr = confusion_matrix(y_train, RF_training_labels)
    rf_cm_te = confusion_matrix(y_test, RF_test_labels)
    print("Training_accuracy - ", Training_accuracy)
    print("Test_accuracy - ", Test_accuracy)
    print("F1_score_train - ", F1_score_train)
    print("F1_score_test - ", F1_score_test)
    print("Recall_train - ", Recall_train)
    print("Recall_test - ", Recall_test)
    print("Precision_train - ", Precision_train)
    print("Precision_test - ", Precision_test)
    print("Training_Confusion_Matrix - ", rf_cm_tr)
    print("Test Confusion Matrix - ", rf_cm_te)
    return RF_training_labels, RF_test_labels

In [86]:
import xgboost
from xgboost import XGBClassifier
model =XGBClassifier(gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=4,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=11, seed=0, silent=True, subsample=1).fit(x_train,y_train)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[14:31:33] WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.1.0\src\learner.cc:480:
Parameters: { silent } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

In [87]:
XG_training_labels, XG_test_labels = model_performance(model)

Training_accuracy -  0.4966
Test_accuracy -  0.4686
F1_score_train -  0.5759073567229896
F1_score_test -  0.5510967303691306
Recall_train -  0.4966
Recall_test -  0.4686
Precision_train -  0.8681597304265152
Precision_test -  0.8440322484677351
Training_Confusion_Matrix -  [[8017 9717]
 [ 351 1915]]
Test Confusion Matrix -  [[1914 2520]
 [ 137  429]]

In [89]:

print (" Test Confusion Matrix : ")
ls_test = [[1914,2520],[ 137 , 429]]
print (ls_test[0][0],"       ", ls_test[0][1])
print (ls_test[1][0],"       ", ls_test[1][1])

 Test Confusion Matrix :
1914         2520
137         429